@import "variables";
@import "mixins";

*{
    @include overal;
}

body{
    background: $bgColor;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 3rem;
    background: $primaryColor ;

    h1{
        @include textStyle(1.3rem, bold, $secondaryColor)
    }
}
