* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #edf2f7;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 3rem;
  background: #1B2A41;
}

.header h1 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar img {
  width: 40px;
  border-radius: 50%;
}

.navbar nav {
  margin-right: 40px;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  padding: 8px;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.navbar a:hover {
  color: #009FDE;
}

.hamburger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hamburger-menu span {
  display: inline-block;
  height: 3px;
  width: 20px;
  border-radius: 3px;
  margin: 2px;
  background: #fff;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 3rem;
}

.main aside {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 1rem;
  height: 600px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.main aside div {
  background: #1B2A41;
  width: 100%;
  text-align: center;
  line-height: 110px;
  height: 110px;
  margin: 20px 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.main main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 1rem;
  height: 600px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.main main img {
  width: 200px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.main main h2 {
  margin: 2rem 0 3rem;
  font-size: 4rem;
  font-weight: bold;
  color: #1B2A41;
}

.main main p {
  font-size: 2rem;
  font-weight: bold;
  color: #009FDE;
}

.cards {
  width: calc(100% - 6rem);
  margin: 0 auto;
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 30px;
}

.card {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
}

.card .card-content {
  line-height: 1.5rem;
  padding: 15px;
  background: #fff;
}

.card .card-content p {
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: 100;
  color: #009FDE;
}

.card .card-content span {
  display: inline-block;
  margin: 10px 0;
  font-size: 0.9rem;
  font-weight: bold;
  color: #1B2A41;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 3rem;
  background: #1B2A41;
  margin-top: 30px;
}

footer .summary {
  width: 50%;
}

footer .summary p {
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 100;
  color: #fff;
}

footer .links {
  padding: 0 5rem;
}

footer .links ul {
  list-style: none;
}

footer .links a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  font-size: 1.2rem;
  font-weight: bild;
  color: #fff;
}

footer .links a:hover {
  color: #009FDE;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar {
    display: none;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 1rem;
  }
  .main main {
    width: calc(100% - 2rem);
    height: 500px;
    margin-bottom: 20px;
  }
  .main main h2 {
    font-size: 3rem;
  }
  .main main p {
    font-size: 1rem;
  }
  .main aside {
    width: calc(100% - 2rem);
    height: 600px;
  }
  .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .summary {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .links {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
/*# sourceMappingURL=style.css.map */